.successDialogDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 18px;
}

.successDialogFooterDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
