<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IssuerURL</key>
	<string>https://localhost:9443/oauth/token</string>
	<key>LogOutURL</key>
	<string>https://wso2is.local:9443/oidc/logout</string>
	<key>UserInfoURL</key>
	<string>https://wso2is.local:9443/oauth2/userinfo?schema=openid</string>
	<key>TokenURL</key>
	<string>https://wso2is.local:9443/oauth2/token</string>
	<key>AuthURL</key>
	<string>https://wso2is.local:9443/oauth2/authorize</string>
	<key>RedirectURL</key>
	<string>wso2issample://oauth</string>
	<key>ClientID</key>
	<string>hjhtF1_PvaVAKAZNxosSlDnRVqoa</string>
</dict>
</plist>
