<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>QSG Web Application Pickup-Manager</display-name>

    <servlet>
        <servlet-name>OAuth2ClientServlet</servlet-name>
        <servlet-class>org.wso2.sample.identity.oauth2.ManagerClientServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>OAuth2ClientServlet</servlet-name>
        <url-pattern>/oauth2client</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.wso2.sample.identity.jks.JKSLoader</listener-class>
    </listener>
    <listener>
        <listener-class>org.wso2.sample.identity.oauth2.SampleContextEventListener</listener-class>
    </listener>

</web-app>
